.container {
  padding: 2px;
  position: relative;
}

.mult {
  position: absolute;
  bottom: 0px;
  right: 5px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 1px black;
}
