.container {
  position: relative;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.row {
  display: flex;
  flex-direction: row;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}
